<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332785573063-6jvmmic0ec6ut0q1r6ocfss71sj4be9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332785573063-6jvmmic0ec6ut0q1r6ocfss71sj4be9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332785573063-7pj362f9hl5udv7koo4gtaqug0e06phb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnkKVhsneOZpyJ-G7yy7wYOg10rzVKXPA</string>
	<key>GCM_SENDER_ID</key>
	<string>332785573063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-hank.Project-ForFun-IOS</string>
	<key>PROJECT_ID</key>
	<string>forfunfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>forfunfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332785573063:ios:a97cdcf88b76f210f472e2</string>
</dict>
</plist>